@import "./assets/styles/main.scss";

.App {

    header {
        padding:1rem 0;
    }
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: block;
    align-items: center;
    text-align: center;
    margin: 2rem 0;

    /* Cool Dark 1 */

    color: #24292E;
}