.categories-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;


    .category {
        background: #FFFFFF;
        /* Main Orange */

        border: 1px solid #CED6E0;
        box-sizing: border-box;
        border-radius: 5px;

        height: 160px;
        flex: 0 0 150px;
        left: 0px;
        top: 0px;
        border-radius: 5px;


        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        padding: 1%;
        margin: 1%;
        cursor: pointer;


        &.selected {
            border: 1px solid #FF681A;
        }

        .category-title {
            font-size: 13px;
            line-height: 16px;

            display: -webkit-box;
            max-width: 200px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-align: center;

            margin-top: 5px;
        }
    }
}


.subcategories-wrapper {
    display: flex;

    /* Stroke 1 */

    border: 1px solid #CED6E0;
    box-sizing: border-box;

    .each-category-wrapper {
        flex: 1 50%;
        padding: 1rem;

        &:nth-child(1) {
            border-right: 1px solid #CED6E0;
        }

    }

    .sub-category-2 {
        display: flex;
        flex-direction: column;

        .sub-category-2-label {}
    }
}

// search and tab styling as per wireframe
.main-section {

    .MuiTab-root {
        max-width: none;
        width: 36%;
    }

    .MuiTabs-flexContainer {
        border-bottom: 2px solid #CED6E0;
    }

    .MuiInputBase-input {
        border: 1px solid #ced6e0;
        padding: 0.5rem 1rem;
        border-radius: 6px;
    }

    .search-area {
        position: relative;
        margin: 2rem 0;

        .MuiInputBase-root {
            display: flex;
        }

        .search-button {
            position: absolute;
            right: 0;
            top: 0;
        }
    }


}


.selected-categories {
    margin: 2rem 0;

    .selected-categories-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #24292E;
    }

    .selected-categories-wrapper {
        padding: 0;

        li {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 40px;
            color: #24292E;
            margin-left: 15px;
            position: relative;

            span {
                display: block;
                white-space: nowrap;
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button {
                position: absolute;
                right: 18px;
                top: -13px;
            }
        }
    }
}